html, body {
    height:100%;

    background:  url("background.jpg") no-repeat center center fixed;
    background:  url("background.jpg") no-repeat center center fixed;
    background:  url("background.jpg") no-repeat center center fixed;
    background:  url("background.jpg") no-repeat center center fixed;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    font-family: 'Bubblegum Sans', cursive;
}

/* Reveal */
.list-group-item {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
  font-family: 'Bubblegum Sans', cursive;

}
.list-group-item:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-color: #2098d1;
  border-style: solid;
  border-width: 0;
  -webkit-transition-property: border-width;
  transition-property: border-width;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.list-group-item:hover:before, .list-group-item:focus:before, .list-group-item:active:before {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  border-width: 4px;
}

/* Underline From Center */
.nav-item {
  font-size: 18px;
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #2098d1;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.nav-item:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #2098d1;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.nav-item:hover:before, .nav-item:focus:before, .nav-item:active:before {
  left: 0;
  right: 0;
}

strong, label {
  color: #ffffff;
  font-family: 'Bubblegum Sans', cursive;
}

 .front {
  font-size: 20px;

}

.btn {
  margin-top: 10px;
  font-family: 'Bubblegum Sans', cursive;
}

.jumbotron {
  background-color: rgba(255, 250, 250, 0.5) !important;
}

div {
  font-family: 'Bubblegum Sans', cursive;
}

textarea {
  height: 350px;
  padding-bottom: 5px;
  font-family: 'Bubblegum Sans', cursive;
}
.list-group-item:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-color: #2098d1;
  border-style: solid;
  border-width: 0;
  -webkit-transition-property: border-width;
  transition-property: border-width;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.list-group-item:hover:before, .list-group-item:focus:before, .list-group-item:active:before {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  border-width: 4px;
}

.btn {
  margin: 10px;
}

div .jumbotron {
  background-color: rgba(255, 255, 255, 0.5) !important;
}

textarea[class$=description]{
  height: 300px;
}

strong {
  color: #ffffff;
}

img {
  width: 30px;
  height: auto;
}

em {
  color: #ffffff;
  font-size: 24px;
  font-family: 'Bubblegum Sans', cursive;
}

div .index {
  margin-top: 30px;
}
